{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "indent": [2, 4],
    "react/jsx-indent": [2, 4],
    "jsx-quotes": [1, "prefer-single"],
    "quotes": [1, "single", {"avoidEscape": true}],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2
  }
}
